APP_NAME="AGREE SIKUL"
APP_ENV=local
APP_KEY=base64:S9NL4VYu12Z/vSjrwpjggm5B/LjiP8iTRHOi6r9OO1k=
APP_DEBUG=true

# Tunnel switch : local | ngrok | prod  (voir .env.example pour détails)
APP_TUNNEL=ngrok
APP_URL_LOCAL=http://localhost:8000
APP_URL_NGROK=https://unremovable-mystically-louella.ngrok-free.dev
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=iips_db1
DB_USERNAME=root
DB_PASSWORD=root

BROADCAST_DRIVER=log
CACHE_DRIVER=array
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_COOKIE=Logemoici_session

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JWT_SECRET=rkCaNptgo6mFADFIDYFVwFBmKrplZjMV2cf1XtY1qdIGTfdt9sCL7sgAFWrrLose
JWT_TTL=262080

FIREBASE_CREDENTIALS=public/logemoici-104ed-firebase-adminsdk-fbsvc-6c2dd41d58.json
FIREBASE_API_KEY=AIzaSyA7SHvyl5TZhFjVhTrwcpIYa58i6GuEfQY
FIREBASE_AUTH_DOMAIN=logemoici-104ed.firebaseapp.com
FIREBASE_PROJECT_ID=logemoici-104ed
FIREBASE_MESSAGING_SENDER_ID=344175295923
FIREBASE_APP_ID=1:344175295923:web:35713fa542ca1cc0439fc6
FIREBASE_VAPID_KEY=BJ95qDa1IBjR0mhqsPtHGa5XYApuBLwvXLvN-fefbdYrjGaap654TxRVV5UuIGHCqmIlUJGGHFBpsd5pO5hp1F8

SMS_API_AUTHORIZATION="Bearer 97|K85w3ktAvBfpiGCVg5tAZ7fRZutw9dknOx5dpgK24a7b565b"
SMSPRO_API_AUTHORIZATION="Bearer 1072|7R8107i6N4ViYCMOURjP29LhHozu7vQlNuhyN90kb797179a"
SMS_SENDER_NAME="SMIL PAY"
SMSPRO_SENDER_NAME="SMIL PAY"
SMS_API_URL="https://panel.yellikasms.com/api/v3/sms/send"
SMSPRO_API_URL="https://app.smspro.africa/api/v3/sms/send"
SMS_OTP_SECONDE_TIME_OUT=120
SMS_OTP_ATTEMPT=3
SMS_OTP_MAX_ATTEMPT=120


WIREPICK_API_URL="http://api.wirepick.com/httpsms/send?"
WIREPICK_CLIENT="Logemoici"
WIREPICK_PASSWORD="SmilPay%402024"
WIREPICK_SENDER_ID="SMILPAY"
COUNTRY_SENDER_NUMBER="2250000"
VALIDITE_CODE_RETRAIT=7

PISPI_BASE_URL=https://sandbox-api.pispi.bceao.int
PISPI_CLIENT_ID=ton_client_id
PISPI_SECRET=ton_secret
PISPI_API_KEY=ta_clé_api
PISPI_WEBHOOK_SECRET=

MAP_KEY=AIzaSyCtxw-P8RaDFsH-lIirjb0BzsaVGaTQrww

